// Spacing
$S-size: 1.2rem;
$M-size: 1.6rem;
$L-size: 3.2rem;
$XL-size: 4.8rem;
$desktop-breakpoint: 45rem;

// Font size
$font-size-small: 1.4rem;
$font-size-large: 1.8rem;

// Colors
$off-white: #f7f7f7;
$grey: #666;
$dark-grey: #333;
$bright-blue: #1c88bf;
$dark-blue: #364051;
